<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indicosmic.www.mypolicynow_ags"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />



    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:alwaysRetainTaskState="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="com.steelkiwi.library"
        >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>


        <activity
            android:name=".QuotationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".IcListingQuoteScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CustomerPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ProposalPdfActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />


        <activity
            android:name=".ReviewDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />

        <!--PAX PAYMENT GATEWAY-->

        <activity
            android:name="com.swipeit2.Start"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.interfaces.InitiatePaymentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.swipeit2.Prefs"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.swipeit2.Sale"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.swipeit2.Void"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.swipeit2.TransactionSummary"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.swipeit2.CaptureSignature"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.interfaces.CashAtPOSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.swipeit2.SendReceiptToCustomer"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.swipeit2.Receipt"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.loyalty.loyaltyapp.loyalty_main.TransactionHistory"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.swipeit2.AnyReceiptActivtiy"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.swipeit2.BharatQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.tradepaypw.SwingCardActivity"
            android:process="com.pax.detectCard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.tradepaypw.view.ConsumeActivity"
            android:process="com.pax.detectCard"
            android:screenOrientation="portrait"/>
        <service
            android:name="com.swipeit2.MyServices"
            android:enabled="true"/>
        <service android:name="com.android.printing.PrintService"/>
        <service
            android:name="com.tradepaypw.service.OtherDetectCard"
            android:enabled="true"
            android:exported="false"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

    </application>

</manifest>