<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indicosmic.www.mypolicynow_sdk" >


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
        android:name=".QuotationActivity"
        android:label="Quotation Screen" />

        <activity
            android:name=".IcListingQuoteScreen"
            android:label="IC Quote" />

        <activity
            android:name=".CustomerPage"
            android:label="Customer Screen" />

        <activity
            android:name=".ProposalPdfActivity"
            android:label="Proposal Pdf Screen" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
